{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set disabled = attributes.disabled ? ' disabled' : '' %}
{% set attributes = attributes.disabled ? attributes.addClass('disabled') : attributes %}
{% set attributes = attributes.removeClass('form-number') %}

<span class="input-number{{ attributes.class != '' ? ' ' ~ attributes.class }}"{{ disabled }}>
  {# Do not add 'form-control' class to input number, otherwise spinner up and down not work #}
  <input{{ attributes|without('class') }} class="form-number" />
  <button class="input-number-add"{{ disabled }}>
    <span class="sr-only">{{ "Increase value"|t }}</span>
  </button>
  <button class="input-number-sub"{{ disabled }}>
    <span class="sr-only">{{ "Decrease value"|t }}</span>
  </button>
</span>{{ children }}
