<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              {% if page.brand %}
                {{ page.brand }}
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      <section>
            {% if page.footer_menu %}
              {{ page.footer_menu }}
            {% endif %}
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-3 col-md-3 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Amministrazione"
              >Amministrazione trasparente</a
              >
            </h4>
            <p>
              I dati personali pubblicati sono riutilizzabili solo alle
              condizioni previste dalla direttiva comunitaria 2003/98/CE e dal
              d.lgs. 36/2006
            </p>
          </div>
          <div class="col-lg-3 col-md-3 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Contatti">Contatti</a>
            </h4>
            <p>
              <strong>Nome del Comune</strong><br />
              Via Roma 0 - 00000 Lorem Ipsum Codice fiscale / P. IVA: 000000000
            </p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li>
                  <a
                    class="list-item"
                    href="#"
                    title="Vai alla pagina: Posta Elettronica Certificata"
                  >Posta Elettronica Certificata</a
                  >
                </li>
                <li>
                  <a
                    class="list-item"
                    href="#"
                    title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico"
                  >URP - Ufficio Relazioni con il Pubblico</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Newsletter">Newsletter</a>
            </h4>
            <form action="#" class="form-newsletter" method="post">
              <label
                class="text-white font-weight-semibold"
                for="input-newsletter"
              >Iscriviti per riceverla</label
              >
              <input
                class="form-control"
                id="input-newsletter"
                name="input-newsletter"
                placeholder="mail@example.com"
                type="email"
              />
              <button class="btn btn-primary btn-icon" type="submit">
                {{ macros.icon('it-mail',base_path ~ directory) }}
                <span>Iscriviti</span>
              </button>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Seguici su">Seguici su</a>
            </h4>
            <ul class="list-inline text-left social">
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#" target="_blank">
                  {{ macros.icon('it-designers-italia',base_path ~ directory) }}
                  <span class="sr-only">Designers Italia</span></a
                >
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#" target="_blank">
                  {{ macros.icon('it-twitter',base_path ~ directory) }}
                  <span class="sr-only">Twitter</span></a
                >
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#" target="_blank">
                  {{ macros.icon('it-medium',base_path ~ directory) }}
                  <span class="sr-only">Medium</span></a
                >
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#" target="_blank">
                  {{ macros.icon('it-behance',base_path ~ directory) }}
                  <span class="sr-only">Behance</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="sr-only">Sezione Link Utili</h3>
      <ul
        class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row"
      >
        <li class="list-inline-item">
          <a href="#" title="Note Legali">Media policy</a>
        </li>
        <li class="list-inline-item">
          <a href="#" title="Note Legali">Note legali</a>
        </li>
        <li class="list-inline-item">
          <a href="#" title="Privacy-Cookies">Privacy policy</a>
        </li>
        <li class="list-inline-item">
          <a href="#" title="Mappa del sito">Mappa del sito</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
