{#
/**
 * @file
 * Template for Card component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/card/
 * Latest revision: 1.4.1
 *
 * Available config:
 * - link_category: URL
 * - category: string
 * - date: date
 * - title: string
 * - text: string
 * - signature: string
 * - readmore_link: URL
 */
#}
<!--start card-->
<div class="card-wrapper">
  <div class="card">
    <div class="card-body">
      <div class="category-top">
        <a class="category" href="{{ link_category }}">{{ category }}</a>
        <span class="data">{{ date }}</span>
      </div>
      <h5 class="card-title big-heading">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
      <span class="card-signature">{{ signature }}</span>
      <a class="read-more" href="{{ readmore_link }}">
        <span class="text">{{ 'Read more'|t }}</span>
        {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-arrow-right' } %}
      </a>
    </div>
  </div>
</div>
<!--end card-->
