{#
/**
 * @file
 * Template for a breadcrumb pattern
 * Docs: https://italia.github.io/bootstrap-italia/docs/menu-di-navigazione/breadcrumbs/
 * Last review: 1.4.1
 *
 * Available config:
 * - breadcrumb_dark_background: true | false
 * - breadcrumb_image: true | false
 * - breadcrumb_separator: ">", "/";
 * - breadcrumb: Breadcrumb trail items
 */
#}
{% set icon_classes = ['icon', 'icon-sm', 'align-top', 'mr-1'] %}

{% if breadcrumb_dark_background %}
  {% set dark = ' dark' %}
  {% set icon_classes = icon_classes|merge(['icon-white']) %}
{% endif %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb{{ dark }}">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item">
          {% spaceless %}
            {% if breadcrumb_image %}
              {% include '@bootstrap_italia_components/icon/icon.twig' with {
                name: 'it-link',
                classes: [icon_classes]
              } %}
            {% endif %}
            <a href="{{ item.url }}">{{ item.text }}</a>
            {% if breadcrumb_separator %}
              <span class="separator">{{ breadcrumb_separator }}</span>
            {% endif %}
          {% endspaceless %}
        </li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
