{# Render output #}
{% set wrapper_attribute = create_attribute() %}
{% set wrapper_classess = [
  'card-wrapper',

  variant == 'simple' and pattern_card_simple_shadow ? 'card-space',
  variant == 'simple_article' and pattern_card_simple_article_shadow ? 'card-space',
  variant == 'big1' and pattern_card_big1_shadow ? 'card-space',
  variant == 'big2' and pattern_card_big2_shadow ? 'card-space',
  variant == 'big3' and pattern_card_big3_shadow ? 'card-space',
  variant == 'with_img' and pattern_card_with_img_shadow ? 'card-space',
  variant == 'special' and pattern_card_special_shadow ? 'card-space',
] %}

{% set card_attribute = create_attribute() %}
{% set card_classess = [
  'card',

  variant == 'simple' and pattern_card_simple_shadow ? 'card-bg',
  variant == 'simple_article' and pattern_card_simple_article_shadow ? 'card-bg',
  variant == 'big1' and pattern_card_big1_shadow ? 'card-bg',
  variant == 'big2' and pattern_card_big2_shadow ? 'card-bg',
  variant == 'big3' and pattern_card_big3_shadow ? 'card-bg',
  variant == 'with_img' and pattern_card_with_img_shadow ? 'card-bg',

  variant == 'teaser' ? 'card-teaser',
  variant == 'teaser' and pattern_card_teaser_shadow ? 'shadow',

  variant == 'big1' or variant == 'big2' or variant == 'big3' ? 'card-big',
  variant == 'big3' ? 'no-after',

  variant == 'simple' and pattern_card_simple_border_bottom ? 'border-bottom-card',
  variant == 'simple_article' and pattern_card_simple_article_border_bottom ? 'border-bottom-card',
  variant == 'big1' and pattern_card_big1_border_bottom ? 'border-bottom-card',
  variant == 'big2' and pattern_card_big2_border_bottom ? 'border-bottom-card',
  variant == 'big3' and pattern_card_big3_border_bottom ? 'border-bottom-card',
  variant == 'with_img' and pattern_card_with_img_border_bottom ? 'border-bottom-card',
  variant == 'teaser' and pattern_card_teaser_border_bottom ? 'border-bottom-card',

  variant == 'simple' and pattern_card_simple_border_rounded ? 'rounded',
  variant == 'simple_article' and pattern_card_simple_article_border_rounded ? 'rounded',
  variant == 'big1' and pattern_card_big1_border_rounded ? 'rounded',
  variant == 'big2' and pattern_card_big2_border_rounded ? 'rounded',
  variant == 'big3' and pattern_card_big3_border_rounded ? 'rounded',
  variant == 'with_img' and pattern_card_with_img_border_rounded ? 'rounded',
  variant == 'teaser' and pattern_card_teaser_border_rounded ? 'rounded',

  variant == 'with_img' ? 'card-img',
  variant == 'with_img' ? 'no-after'

] %}

{% set card_special_attribute = create_attribute() %}
{% set card_special_classess = [
  'card',
  'card-img',
  'no-after',
  'special-card',
  pattern_card_special_shadow ? 'card-bg',
  pattern_card_special_border_bottom ? 'border-bottom-card',
  pattern_card_special_border_rounded ? 'rounded',

] %}

{% set title_attribute = create_attribute() %}
{% set title_classes = [
  'card-title',
  variant == 'simple_article' ? 'big-heading'
] %}

{# node_url and node_title are used special variant and in the card footer #}
{% set node_url = card_readmore['node_link']['0']['0']['#context']['entity_url']|render %}
{% set node_title = card_readmore|render|striptags %}

<!--start card-->
{% if variant != 'teaser' %}
<div {{ wrapper_attribute.addClass(wrapper_classess) }}>
{% endif %}

  {# div class="card" #}
  {% if variant == 'special' %}
    <a {{ card_special_attribute.addClass(card_special_classess) }}
      href="{{ node_url|default('#') }}"
      title="{{ node_title }}"
    >
  {% else %}
    <div {{ card_attribute.addClass(card_classess) }}>
  {% endif %}

      {# Top card if big2 variant #}
      {% if variant == 'big2' %}
        <div class="flag-icon{% if not card_flag_icon %} invisible{% endif %}"></div>
        <div class="etichetta">
          {% if card_icon %}
            {% include '@bootstrap_italia_components/icon/icon.twig' with { name: card_icon } %}
          {% endif %}
          <span>{{ card_category }}</span>
        </div>
      {% endif %}

      {# Top card if with image variant #}
      {% if variant == 'with_img' or variant == 'special' %}
        {% set image = card_img|first %}
        {% if image['#formatter'] == 'responsive_image' %}
          {{ image }}
          {% if card_date and variant != 'special' %}
            <div class="card-calendar d-flex flex-column justify-content-center">
              {% if card_date.month %}<span class="card-time">{{ card_date.time }}</span>{% endif %}
              {% if card_date.year %}<span class="card-year">{{ card_date.year }}</span>{% endif %}
              {% if card_date.day %}<span class="card-date">{{ card_date.day }}</span>{% endif %}
              {% if card_date.month %}<span class="card-day">{{ card_date.month }}</span>{% endif %}
            </div>
          {% endif %}
        {% else %}
          <div class="img-responsive-wrapper">
            <div class="img-responsive">
              <figure class="img-wrapper">
                {{ card_img }}
              </figure>
              {% if card_date and variant != 'special' %}
                <div class="card-calendar d-flex flex-column justify-content-center">
                  {% if card_date.month %}<span class="card-time">{{ card_date.time }}</span>{% endif %}
                  {% if card_date.year %}<span class="card-year">{{ card_date.year }}</span>{% endif %}
                  {% if card_date.day %}<span class="card-date">{{ card_date.day }}</span>{% endif %}
                  {% if card_date.month %}<span class="card-day">{{ card_date.month }}</span>{% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      <div class="card-body">

        {# Top card  #}
        {% if card_category %}
          <div class="category-top">
            {% if card_icon %}
              {% include '@bootstrap_italia_components/icon/icon.twig' with { name: card_icon } %}
            {% endif %}
            <span class="{{ card_icon ? 'text' : 'category' }}">{{ card_category }}</span>
            {% if card_date %}<span class="data">{{ card_date }}</span>{% endif %}
          </div>
        {% endif %}

        {# Top card if big1 variant #}
        {% if variant == 'big1' and card_icon is not empty %}
          <div class="top-icon">
            {% include '@bootstrap_italia_components/icon/icon.twig' with { name: card_icon } %}
          </div>
        {% endif %}

        {# Top card if big3 variant #}
        {% if variant == 'big3' or variant == 'special' %}
          <div class="head-tags">
            {% if card_category %}<span class="card-tag">{{ card_category }}</span>{% endif %}
            {% if card_date %}<span class="data">{{ card_date }}</span>{% endif %}
          </div>
        {% endif %}

        {# Card content #}
        <h5 {{ title_attribute.addClass(title_classes) }}>{{ card_title|render|striptags('<a>')|raw }}</h5>
        {% if card_subtitle and variant == 'big2' %}
          <h6>{{ card_subtitle|render|striptags }}</h6>
        {% endif %}
        <p class="card-text">{{ card_text|render|striptags }}</p>

        {# Bottom content #}
        {% set footer_wrapper = variant == 'big3' ? true : false %}

        {% if footer_wrapper %}
          <div class="it-card-footer">
        {% endif %}

          {% if card_signature is not empty %}
            <span class="card-signature">{{ card_signature }}</span>
          {% endif %}

          {% if card_readmore is not empty and variant != 'special' %}
            {% if variant == 'big3' %}
              <a class="btn btn-outline-primary btn-sm" href="{{ node_url|default('#') }}" title="{{ node_title }}">{{ node_title }}</a>
            {% else %}
              <a class="read-more" href="{{ node_url|default('#') }}" title="{{ node_title }}">
                <span class="text">{{ card_readmore|render|striptags }}</span>
                {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-arrow-right' } %}
              </a>
            {% endif %}
          {% endif %}

        {% if footer_wrapper %}
          </div>
        {% endif %}

      </div> {# end class="card-body" #}
  {% if variant == 'special' %}
    </a> {# end class="card" if is special #}
  {% else %}
    </div> {# end class="card" if isn't special #}
  {% endif %}
{% if variant != 'teaser' %}
</div> {# end class="card-wrapper" #}
{% endif %}
<!--end card-->

{# TODO: rimane da completare: Card speciali e teaser #}
