{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, theme_path) }}

{% macro menu_links(items, attributes, menu_level, theme_path) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('navbar-nav')}}>
    {% else %}
      <ul class="link-list">
    {% endif %}
    {% for item in items %}
      {%
        set list_classes = [
          menu_level ? '' : 'nav-item',
          item.is_expanded ? 'expanded',
          item.is_collapsed ? 'collapsed',
          item.in_active_trail ? 'active',
          item.below ? 'dropdown'
        ]
      %}
      {%
        set link_classes = [
          menu_level ? 'list-item' : 'nav-link',
          item.is_expanded ? 'dropdown-toggle',
          item.is_collapsed ? 'collapsed',
          item.in_active_trail ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(list_classes) }}>
        {% if item.title == '<divider>' %}
          <span class="divider"></span>
        {% else %}
          <a
            class="{{ link_classes|join(' ') }}"
            {{ item.is_expanded ? 'data-toggle="dropdown" aria-expandend="false"' : '' }}
            href="{{ item.url }}"
          >
            <span>{{ item.title }}</span>
            {% if item.is_expanded and menu_level == 0 %}
              <svg class="icon">
                <use xlink:href="/{{ theme_path ~ directory }}/assets/icons/sprite.svg#it-expand"></use>
              </svg>
            {% endif %}
          </a>
        {% endif %}
        {% if item.below %}
          <div class="dropdown-menu">
            <div class="link-list-wrapper">
              {{ menus.menu_links(item.below, attributes, menu_level + 1, theme_path) }}
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
