{#
/**
 * @file
 * Template for Avatar component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/avatar/
 * Last review: 1.4.1
 *
 * Available config:
 * - avatar_tag: div | a
 * - avatar_link: href | false
 * - a_tooltip: hash es: {data-toogle: 'tooltip', data-html: true, data-placement: 'left', title: '<strong>Anna
   Barbieri</strong><br /><em>Amministratore</em>'}
 * - avatar_type: primary | secondary | green | orange | red | false
 * - avatar_size: xs | sm | lg | xl | xxl
 * - avatar_img: link img | false
 * - avatar_icon: hash | false
 * - avatar_txt: string
 * - sr_only_alt: string
 *
#}
{% set avatar_classes = [
    'avatar',
    avatar_type ? 'avatar- ' ~ avatar_type : null,
    avatar_size ? 'size-' ~ avatar_size : 'size-md'
  ]
%}

<{{ avatar_tag }}
{% if not avatar_link %}
  {{ attributes.addClass(avatar_classes) }}
{% else %}
  {% if not a_tooltip %}
    {{ attributes.addClass(avatar_classes).setAttribute('href', avatar_link) }}
  {% else %}
    {% set html_title = ' title="' ~ a_tooltip.title ~ '" ' %}
    {{attributes.addClass(avatar_classes).
      setAttribute('href', avatar_link).
      setAttribute('data-toggle', a_tooltip.data_toggle).
      setAttribute('data-html', a_tooltip.data_html).
      setAttribute('data-placement', a_tooltip.data_placement) }}
  {{ html_title|raw }}
  {% endif %}
{% endif %}>
{% if avatar_img %}
  <img src="{{ avatar_img }}" alt="{{ sr_only_alt }}">
{% endif %}
{% if avatar_icon %}
  {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-user' } %}
{% endif %}
{% if avatar_txt %}
  <p aria-hidden="true">{{ avatar_txt }}</p>
{% endif %}
{% if avatar_icon or avatar_txt %}
  <span class="sr-only">{{ sr_only_alt }}</span>
{% endif %}
</{{ avatar_tag }}>
