 {% block main %}
  <main>
    <div role="main" class="container main-container js-quickedit-main-content">
      {% if page.breadcrumb or page.title or page.local_tasks or page.help or page.notification %}
        <div class="row">
          <div class="col">
            {% if page.breadcrumb %}
              <div class="it-breadcrumb__wrapper">
                {{ page.breadcrumb }}
              </div>
            {% endif %}

            {% if page.title %}
              <div class="it-page-title__wrapper">
                {{ page.title }}
              </div>
            {% endif %}

            {% if page.local_tasks %}
              <div class="it-local-tasks_wrapper mb-5">
                {{ page.local_tasks }}
              </div>
            {% endif %}

            {% if page.help %}
              <div class="it-help__wrapper">
                {{ page.help }}
              </div>
            {% endif %}

            {% if page.notification %}
              <div class="it-notification__wrapper">
                {{ page.notification }}
              </div>
            {% endif %}
          </div> {# End col #}
        </div> {# End row #}
      {% endif %}

      {% set sidebar_width = page.sidebar_first and page.sidebar_second ? 'col-lg-3' : 'col-lg-4' %}

      <div class="row">
        {# Sidebar First #}
        {% if page.sidebar_first %}
          {% block sidebar_first %}
            <aside class="{{ sidebar_width }} it-sidebar-first__wrapper" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          {% endblock %}
        {% endif %}

        <div class="col">
          <div class="it-content__wrapper mt-5">
            {{ page.content }}
          </div>
        </div> {# End col #}

        {# Sidebar Second #}
        {% if page.sidebar_second %}
          {% block sidebar_second %}
            <aside class="{{ sidebar_width }} it-sidebar-second__wrapper" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          {% endblock %}
        {% endif %}

      </div> {# End row #}
    </div> {# End container #}
  </main>
 {% endblock %}
