{% apply spaceless %}
  {% set _main_content_classes = [
    content_padding_bottom ? content_padding_bottom,
    content_margin_bottom ? content_margin_bottom
  ] %}

  <main id="it-main-content" class="{{ _main_content_classes|join(' ')|trim }}" role="main">

    {% block contentBreadcrumb %}
      {% if page.breadcrumb %}
        <section class="it-breadcrumb__wrapper px-4 mt-4 {{ content_container_type ?: 'container' }}">
          <div class="row">
            <div class="col px-lg-4">
              {{ page.breadcrumb }}
            </div>
          </div>
        </section>
      {% endif %}
    {% endblock %}

    {% block contentTitle %}
      {% if page.title %}
        <div class="it-page-title__wrapper {{ content_container_type ?: 'container' }}">
          <div class="row">
            <div class="col">
              {{ page.title }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block contentLocalTasks %}
      {% if page.local_tasks %}
        <div class="it-local-tasks_wrapper d-print-none {{ content_container_type ?: 'container' }}">
          {{ page.local_tasks }}
        </div>
      {% endif %}
    {% endblock %}

    {% block contentHelp %}
      {% if page.help %}
        <div class="it-help__wrapper {{ content_container_type ?: 'container' }}">
          {{ page.help }}
        </div>
      {% endif %}
    {% endblock %}

    {% block contentNotification %}
      {% if page.notification %}
        <div class="it-notification__wrapper {{ content_container_type ?: 'container' }}">
          {{ page.notification }}
        </div>
      {% endif %}
    {% endblock %}

    {% block contentMain %}
      {% set _main_container_classes = [
        content_container_type ?: 'container',
        page.sidebar_first and not page.sidebar_second ? 'has-one-sidebar',
        page.sidebar_second and not page.sidebar_first ? 'has-one-sidebar',
        page.sidebar_first and page.sidebar_second ? 'has-two-sidebars',
      ] %}

      {% set _sidebar_width = page.sidebar_first and page.sidebar_second ? 'col-lg-3' : 'col-lg-4' %}
      {% set _content_width = [
        not page.sidebar_first and not page.sidebar_second ? 'col-12',
        page.sidebar_first and not page.sidebar_second ? 'col-lg-8',
        page.sidebar_second and not page.sidebar_first ? 'col-lg-8',
        page.sidebar_first and page.sidebar_second ? 'col-lg-6'
      ] %}

      <div class="{{ _main_container_classes|join(' ')|trim }}">
        <div class="row">
          {# Sidebar First #}
          {% block contentSidebarFirst %}
            {% if page.sidebar_first %}
              <aside class="{{ _sidebar_width }} it-sidebar-first__wrapper" role="complementary">
                {{ page.sidebar_first }}
              </aside>
            {% endif %}
          {% endblock %}

          <div class="{{ _content_width|join(' ')|trim }}">
            <div class="it-content__wrapper">
              {{ page.content }}
            </div>
          </div> {# End col #}

          {# Sidebar Second #}
          {% block contentSidebarSecond %}
            {% if page.sidebar_second %}
              <aside class="{{ _sidebar_width }} it-sidebar-second__wrapper" role="complementary">
                {{ page.sidebar_second }}
              </aside>
            {% endif %}
          {% endblock %}
        </div> {# End row #}
      </div> {# End container #}
    {% endblock %}
  </main>
{% endapply %}
