{% macro icon(icon_name,active_theme_path,classes) %}
  <svg class="{{ classes|join(' ')|default('icon') }}">
    <use xlink:href="{{ active_theme_path }}/assets/icons/sprite.svg#{{ icon_name }}"></use>
  </svg>
  <script>
    console.error('macro.icon is deprecated, use icon component! See: bootstrap_italia/src/components/icon');
  </script>
{% endmacro %}

{% macro password_icon(active_theme_path) %}
  <span class="password-icon" aria-hidden="true">
    <svg class="password-icon-visible icon icon-sm">
      <use xlink:href="{{ active_theme_path }}/assets/icons/sprite.svg#it-password-visible"></use>
    </svg>
    <svg class="password-icon-invisible icon icon-sm d-none">
      <use xlink:href="{{ active_theme_path }}/assets/icons/sprite.svg#it-password-invisible"></use>
    </svg>
  </span>
{% endmacro %}
