{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {% if content %}
    {% set _header_nav_id = region~'-main-navbar' %}

    <div class="navbar navbar-expand-{{ navigation_header_breakpoint_expand ?: 'lg' }} has-megamenu" aria-label="{{ 'Main navigation'|t }}" role="navigation">
      <button
        class="custom-navbar-toggler"
        type="button"
        aria-controls="{{ _header_nav_id }}"
        aria-expanded="false"
        aria-label="{{ 'Show/hide navigation bar'|t }}"
        data-bs-toggle="navbarcollapsible"
        data-bs-target="#{{ _header_nav_id }}"
      >
        {% include '@bi-bcl/icon/icon.html.twig' with {
          name: 'it-burger',
          color: 'white',
        } %}
      </button>
      <div id="{{ _header_nav_id }}" class="navbar-collapsable">
        <div class="overlay" style="display: none;"></div>
        <div class="close-div">
          <button class="btn close-menu" type="button">
            <span class="visually-hidden">{{ 'Hide navigation'|t }}</span>
            {% include '@bi-bcl/icon/icon.html.twig' with {
              name: 'it-close-big'
            } %}
          </button>
        </div>
        <div class="menu-wrapper d-lg-flex">
          {{ content }}
        </div>
      </div>
    </div>
  {% endif %}
{% endapply %}
