{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
<div class="sidebar-wrapper it-line-left-side">
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      {{ menus.menu_links(items, attributes, 0, false) }}
    </div>
  </div>
</div>

{% macro menu_links(items, attributes, menu_level, sublist_show) %}
  {% import _self as menus %}

  {% if items %}
    {% set first_item = items|first %}
{#    {{ kint(first_item) }}#}

    {% set sublist_classes = [
        'link-sublist',
        'collapse',
        sublist_show ? 'show'
      ]
    %}
    <ul {{
      menu_level == 0 ?
      attributes.addClass(['link-list']) :
      attributes.addClass(sublist_classes).setAttribute('id', 'collapse-' ~ first_item.title|clean_id)
    }}>

    {% for item in items %}
      <li{{ item.attributes }}>
        {% if item.title == '<divider>' %}
          <span class="divider"></span>
        {% else %}
          {# Set tag type #}
          {% if item.url|render == "<title>" %}
            <h3>{{ item.title }}</h3>
          {% else %}
            {# URL setting in case there are child elements or not #}
            {% if item.below %}
              {% set first_below = item.below|first %}
              {% set url = '#collapse-'~first_below.title|clean_id %}
            {% else %}
              {% set url = item.url %}
            {% endif %}

            {%
              set item_classes = [
              'list-item',
              item.in_active_trail ? 'active',
            ]
            %}
            <a
              class="{{ item_classes|join(' ') }}"
              {{ item.is_expanded ? 'data-toggle="collapse" aria-expandend="true"' : '' }}
              href="{{ url }}"
            >
              <span>{{ item.title }}</span>
              {% if item.is_expanded %}
                {% include '@bootstrap_italia_components/icon/icon.twig' with {name: 'it-expand'} %}
              {% endif %}
            </a>
          {% endif %}
        {% endif %} {# end if item.title == '<divider>' #}

        {# Recursive link-list #}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, item.in_active_trail) }}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
  {% endif %}

{% endmacro %}
