{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
<div class="sidebar-wrapper it-line-left-side">
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <ul class="link-list">
        {{ menus.menu_links(items, attributes, 0) }}
      </ul>
    </div>
  </div>
</div>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% set id = 0 %}
  {% if items %}
    {% for item in items %}
      {% set id = id + 1 %}
      {% set children = item.below ? '1': '0' %}
      <li>
      <a {{
      children ?
      attributes.addClass(['list-item large medium right-icon']).setAttribute('href', '#collapse-' ~ id) :
      attributes.addClass(['list-item']).setAttribute('href', '{{ item.url }}')
      }}>
        <span>{{ item.title }}</span>
        {% if children %}
          <ul class="link-sublist collapse" id="collapse-{{ id }}">
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
          </ul>
        {% endif %}
      </a>
    {% endfor %}
    </li>
  {% endif %}
  {% if item.below %}
    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
  {% endif %}

{% endmacro %}

      {#
<div class="sidebar-wrapper">
  <h3 class="no_toc">Header</h3>
  <div class="sidebar-linklist-wrapper">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li>
          <a class="list-item large medium right-icon active" href="#collapseOne" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"><span>Link list selected </span><svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg></a>
          <ul class="link-sublist collapse show" id="collapseOne">
            <li><a class="list-item active" href="#"><span>Link list 1 active </span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon" href="#collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo"><span>Link list 1 </span><svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg></a>
          <ul class="link-sublist collapse" id="collapseTwo">
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="list-item large medium right-icon" href="#collapseThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree"><span>Link list 1 </span><svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg></a>
          <ul class="link-sublist collapse" id="collapseThree">
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
            <li><a class="list-item" href="#"><span>Link list 1 </span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
#}
