{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
  {% if site_logo %}
      {% set check = site_logo %}
      {% if not (check ends with '.svg') %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="icon" />
      {% else %}
        <svg class="icon" height="48" width="48" viewBox="0 0 100 82" xmlns="http://www.w3.org/2000/svg">
          <use href="{{ site_logo }}#logo" xlink:href="{{ site_logo }}#logo"></use>
        </svg>
      {% endif %}
  {% endif %}
  <div class="it-brand-text">
    {% if site_name %}
      <h2 class="no_toc">{{ site_name }}</h2>
    {% endif %}
    <h3 class="no_toc d-none d-md-block">{{ site_slogan }}</h3>
  </div>
</a>
{% endblock %}
