{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>

  {% set _body_classes = [
    logged_in ? 'user-logged-in' : 'user-anonymous',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type--' ~ node_type|clean_class,
    page_type ? 'page-type--' ~ page_type|clean_class,
    db_offline ? 'db-offline',
  ] %}

  <body{{ attributes.addClass(_body_classes) }}>
    <div class="skip-navigation">
      {# Keyboard navigation/accessibility link to:
          - main content section in ./content/_partial.content.html.twig;
          - footer content in ./footer/_partial.footer.html.twig.
      #}
      <a href="#it-main-content" class="visually-hidden-focusable">
        {{ 'Skip to main content'|t }}
      </a>
      <a href="#footer" class="visually-hidden-focusable">
        {{ 'Skip to footer content'|t }}
      </a>
    </div>

    {% if back_to_top_enable %}
      {% include '@bi-bcl/back-to-top/back-to-top.html.twig' with {
        back_to_top_small: back_to_top_small,
        back_to_top_dark: back_to_top_dark,
        back_to_top_shadow: back_to_top_shadow
      } %}
    {% endif %}

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    {% set _libraries_cdn_fonts_path = libraries_cdn_fonts is not empty ?
      libraries_cdn_fonts : base_path ~ "/" ~ directory ~ '/dist/fonts'
    %}
    <script>window.__PUBLIC_PATH__ = '{{ _libraries_cdn_fonts_path }}'</script>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
