{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * @see bootstrap_itala.info.yml
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-user-password" class="bg-primary min-vh-100 pb-5">

  {% block header %}
    <header>
      <div class="it-header-center-wrapper">
        <div class="container">
          <div class="row">
            {% if page.brand %}
              <div class="row justify-content-center">
                <div class="col-auto p-4">
                  <div class="it-header-center-content-wrapper">
                    {{ page.brand }}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
  {% endblock %}

  {% block main %}
    <main>
      <a id="it-skip-to-main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div role="main" class="container bg-white">
        <div class="row justify-content-center">
          <div class="col-md-auto px-5 pt-5 pb-3">
            {% if page.title %}
              <div class="it-page-title-wrapper" class="visually-hidden">
                {{ page.title }}
              </div>
            {% endif %}

            {% if page.local_tasks %}
              <div class="it-local-tasks-wrapper">
                {{ page.local_tasks }}
              </div>
            {% endif %}

            {% if page.help %}
              <div class="it-help-wrapper">
                {{ page.help }}
              </div>
            {% endif %}

            {% if page.notification %}
              <div class="it-notification-wrapper">
                {{ page.notification }}
              </div>
            {% endif %}

            <div class="it-content-wrapper mt-5">
              {{ page.content }}
            </div>
          </div> {# End col #}

        </div> {# End row #}
      </div> {# End container #}
    </main>
  {% endblock %}
</div>
