{% apply spaceless %}
  <div class="it-header-slim-wrapper{{ slim_header_light ? ' theme-light' }}">
    <div class="{{ slim_header_container_type ?: 'container' }}">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">

            {% block headerSlimMenu %}
              {% set government_entity_url_classes = '' %}
              {% if page.header_slim_menu %}
                {% set government_entity_url_classes = 'd-none ' %}
              {% endif %}
              {% if government_entity_url %}
                <a class="{{ government_entity_url_classes }}d-lg-block navbar-brand" href="{{ government_entity_url }}" target="_blank">
              {% endif %}
              <span>{{ government_entity_name }}</span>
              {% if government_entity_url %}
                </a>
              {% endif %}
              {{ page.header_slim_menu }}
            {% endblock %}

            {% block headerSlimRightZone %}
              <div class="it-header-slim-right-zone">
                {% if page.header_slim_language %}
                  {{ page.header_slim_language }}
                {% endif %}

                {% if slim_header_action_type != 'full' %}
                  <div class="it-access-top-wrapper">
                {% endif %}

                  {% if logged_in %}
                    {% if page.header_slim_action %}
                      {{ page.header_slim_action }}
                    {% endif %}
                  {% elseif slim_header_action_active_login %}
                    {% embed '@bi-bcl/button/button.html.twig' with {
                      label: 'Login to your personal area'|t,
                      variant: 'primary',
                      tag: 'a',
                      size: 'sm',
                      url: slim_header_action_url ?: path('user.login'),
                      button_classes: [
                        'btn-icon',
                        slim_header_action_type == 'full' ? 'btn-full'
                      ],
                      label_classes: ['d-none', 'd-lg-block'],
                    } %}
                      {% block before %}
                        {% if slim_header_action_type == 'full' and slim_header_action_icon %}
                          <span class="rounded-icon">
                            {% include '@bi-bcl/icon/icon.html.twig' with {
                              name: 'it-user',
                              color: 'primary',
                            } %}
                          </span>&nbsp;
                        {% endif %}
                      {% endblock %}
                    {% endembed %}
                  {% endif %}{# End login button for anonymous user. #}

                {% if slim_header_action_type != 'full' %}
                  </div>{# End it-access-top-wrapper. #}
                {% endif %}
              </div>{# End it-header-slim-right-zone. #}
            {% endblock %}

          </div>{# End it-header-slim-wrapper-content. #}
        </div>{# End col. #}
      </div>{# End row. #}
    </div>{# End container. #}
  </div>{# End wrapper. #}
{% endapply %}
