{% block headerSlim %}
  <div class="it-header-slim-wrapper{{ slim_header_light ? ' theme-light' }}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="{{ ente_appartenenza_url }}" target="_blank">{{ ente_appartenenza_nome }}</a>
            <div class="nav-mobile">
              <nav>
                <a class="it-opener d-lg-none" data-toggle="collapse" href="{{ ente_appartenenza_url }}" role="button" aria-expanded="false" aria-controls="menu4">
                  <span>{{ ente_appartenenza_url }}</span>
                  {% include '@bootstrap_italia_components/icon/icon.twig' with { name: 'it-expand' } %}
                </a>
                <div class="link-list-wrapper collapse" id="menu4">
                  {% if page.header_slim_menu %}
                    {{ page.header_slim_menu }}
                  {% endif %}
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              {% if page.header_slim_lingua %}
                {{ page.header_slim_lingua }}
              {% endif %}
              {% if logged_in %}
                {% if page.header_slim_action %}
                  {{ page.header_slim_action }}
                {% endif %}
              {% else %}
                {% if right_action_size == 'normal' %}
                <div class="it-access-top-wrapper">
                  <a class="btn btn-primary btn-sm btn-icon" href="{{ base_path }}user">
                    {{ 'Log in'|trans }}</a>
                </div>
                {% elseif right_action_size == 'full' %}
                  <a href="{{ base_path }}user" class="btn btn-primary btn-icon btn-full">
                    <span class="rounded-icon">
                      {% include '@bootstrap_italia_components/icon/icon.twig' with {
                        name: 'it-user',
                        classes: ['icon-primary']
                      } %}
                    </span>
                    <span class="d-none d-lg-block">Accedi all'area personale</span>
                  </a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
