<div class="it-header-slim-wrapper{{ slim_header_light ? ' theme-light' }}">
  <div class="{{ slim_header_container_type }}">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="{{ government_entity_url }}" target="_blank">{{ government_entity_name }}</a>
          <div class="nav-mobile">
            <nav aria-label="Navigazione accessoria">
              <a class="it-opener d-lg-none" data-bs-toggle="collapse" href="#headerSlimMenu" role="button" aria-expanded="false" aria-controls="headerSlimMenu">
                <span>{{ government_entity_name }}</span>
                {% include '@bi-bcl/icon/icon.html.twig' with {
                  name: 'it-expand'
                } %}
              </a>
              <div class="link-list-wrapper collapse" id="headerSlimMenu">
                <ul class="link-list">
                  <li><a class="dropdown-item list-item" href="#">Link 1</a></li>
                  <li><a class="list-item active" href="#" aria-current="page">Link 2 (Attivo)</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="it-header-slim-right-zone">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Selezione lingua: lingua selezionata</span>
                <span>ITA</span>
                {% include '@bi-bcl/icon/icon.html.twig' with {
                  name: 'it-expand'
                } %}
              </a>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-12">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        <li><a class="dropdown-item list-item" href="#"><span>ITA <span class="visually-hidden">selezionata</span></span></a></li>
                        <li><a class="dropdown-item list-item" href="#"><span>ENG</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-icon btn-full" href="#" title="Accedi all'area personale" aria-label="Accedi all'area personale">
              <span class="rounded-icon">
                {% include '@bi-bcl/icon/icon.html.twig' with {
                  name: 'it-user',
                  color: 'primary'
                } %}
              </span>
              <span class="d-none d-lg-block">Accedi all'area personale</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
