<div class="it-right-zone">
  {% if page.header_center_social %}
    <div class="it-socials d-none d-md-flex">
      {{ page.header_center_social }}
    </div>
  {% endif %}
  {% if page.header_center_search %}
    <div class="it-search-wrapper">
      <span class="d-none d-md-block">Cerca</span>
      <a class="search-link rounded-icon" aria-label="Cerca" href="#" data-target="#search-modal" data-toggle="modal">
        {{ macros.icon('it-search', base_path ~ directory) }}
      </a>
      <!-- Search Modal -->
      <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content perfect-scrollbar">
            <div class="modal-header">
              <h5 class="modal-title">{{ 'Search'|trans }}</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                {{ macros.icon('it-close', base_path ~ '/' ~ directory) }}
              </button>
            </div>
            <div class="modal-body">
              {{ page.header_center_search }}
            </div>
          </div>
        </div>
      </div>

    </div>
  {% endif %}
</div>
