{% apply spaceless %}
  {%
    set it_center_header_wrapper_classes = [
    'it-header-center-wrapper',
    center_header_light ? ' theme-light',
    center_header_small ? ' it-small-header'
  ]
  %}
  <div class="{{ it_center_header_wrapper_classes|join }}">
    <div class="{{ center_header_container_type ?: 'container' }}">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">

            {% block headerCenterBrand %}
              {% if page.brand %}
                {{ page.brand }}
              {% endif %}
            {% endblock %}

            <div class="it-right-zone">

              {% block headerCenterSocials %}
                {% if socials %}
                  {% include '@bi-bcl/share/follow-us.html.twig' with {
                    socials: socials,
                    label: 'Follow us on'|t,
                    icon_color: center_header_light ? 'primary' : 'white',
                    blank: social_new_window,
                    followus_classes: ["it-socials", "d-none", "d-lg-flex"]
                  } %}
                {% endif %}
                {% if page.header_center_social and not socials %}
                  {{ page.header_center_social }}
                {% endif %}
              {% endblock %}

              {% block headerCenterSearch %}
                {% if page.header_center_search %}
                  <div class="it-search-wrapper">
                    {% if search_type == 'modal' %}
                      {% embed '@bi-bcl/modal/modal.html.twig' with {
                        id: 'modal-header-center-search',
                        modal_label: 'Site search'|t,
                        scrollable: true,
                        modal_size: search_modal_size ?: 'fullscreen',
                        dismissibile: false,
                      } %}
                        {% block modalBody %}
                          <div class="container">
                            {{ page.header_center_search }}
                          </div>
                        {% endblock %}

                        {% block modalButton %}
                          <span class="d-none d-md-block">{{ 'Search'|t }}</span>
                          <a class="search-link rounded-icon"
                             role="button"
                             tabindex="0"
                             aria-pressed="false"
                             aria-label="{{ 'Site search'|t }}"
                             data-bs-toggle="modal"
                             data-bs-target="#modal-header-center-search"
                             href="#"
                          >
                            {% include '@bi-bcl/icon/icon.html.twig' with {
                              name: 'it-search',
                            } %}
                          </a>
                        {% endblock %}
                      {% endembed %}
                    {% endif %}{# End search modal #}

                    {% if search_type == 'page' %}
                      <span class="d-none d-md-block">{{ 'Search'|t }}</span>
                      <a class="search-link rounded-icon"
                         aria-label="{{ 'Site search'|t }}"
                         title="{{ 'Site search'|t }}"
                         href="{{ search_page_url ?: '/search/node' }}"
                      >
                        {% include '@bi-bcl/icon/icon.html.twig' with {
                          name: 'it-search',
                        } %}
                      </a>
                    {% endif %}

  {#                  {% if search_type == 'inline' %}#}
  {#                    {{ page.header_center_search }}#}
  {#                  {% endif %}#}

                  </div>{# End it-search-wrapper. #}
                {% endif %}
              {% endblock %}{# End headerCenterSearch block. #}

            </div>{# End it-right-zone. #}
          </div>{# End it-header-center-content-wrapper. #}
        </div>{# End col. #}
      </div>{# End row. #}
    </div>{# End container. #}
  </div>{# End wrapper. #}
{% endapply %}
